.header {
    nav {
        ul {
            list-style-type: none;
            overflow: hidden;
            background-color: #232627;

            li {
                float: right;

                a {
                    display: block;
                    color: rgb(146, 146, 146);
                    text-align: center;
                    padding: 0.8rem 1.5rem;
                    text-decoration: none;
                    transition: all 0.17s ease-in;

                    &:hover:not(.active) {
                        background-color: #ddd;
                        color: #000;
                    }

                    &.active {
                        color: white;
                        background-color: #663399;
                    }
                }
            }
        }
    }
}
