@import "~rfs/scss";

.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    .brandImg {
        margin-bottom: 1.5rem;
    }

    h1 {
        margin-bottom: 0.5rem;
        @include font-size(3rem);
    }

    h3 {
        @include font-size(1.5rem);
    }
}
