@import "~rfs/scss";

.errorHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 1.5rem;
        @include font-size(3rem);
    }

    a {
        color: #fff;

        button {
            background-color: #663399;
            border: none;
            border-radius: 1.5rem;
            padding: 1rem 2rem;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.17s ease-in;

            &:hover {
                background-color: #542b7e;
            }
        }
    }
}
